@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<main>
    <AuthorizeView>
        Authorized user
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        Admin view
    </AuthorizeView>
</main>

