@page "/Posts/Create"

@using Radzen.Blazor
@using Radzen

<RadzenCard Variant="Variant.Outlined" class="w-100 mt-4">
    <RadzenHeading class="d-flex justify-content-center" Text="Create a new post"></RadzenHeading>
    <div>
        <EditForm Model="Input" OnValidSubmit="Create" FormName="create-post" class="d-flex justify-content-center">
            <hr/>
            <DataAnnotationsValidator/>
            <div class="input-container">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="@Input.Title" class="form-control"/>
                    <label>Title</label>
                    <ValidationMessage For="() => Input.Title"/>
                </div>
                <div class="form-floating mb-3">
                    <InputTextArea @bind-Value="@Input.Bio" class="form-control h-50" rows="3"/>
                    <label>Bio</label>
                    <ValidationMessage For="() => Input.Bio"/>
                </div>
                <RadzenButton ButtonType="ButtonType.Submit"
                              Shade="Shade.Lighter"
                              Text="Publish"
                              title="Publish"
                              class="w-100 btn btn-lg btn-primary"/>
            </div>
        </EditForm>
    </div>
</RadzenCard>

