@page "/Posts/Create"

<PageTitle>Post creator</PageTitle>

<h4>Create a new post</h4>

<div class="w-100">
    <div class="col-md-4">
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="Create" FormName="create-post">
            <hr />
            <DataAnnotationsValidator />
            <div class="form-floating mb-3">
                <InputText @bind-Value="@Input.Title" class="form-control" autocomplete="untitled" />
                <label>Title</label>
                <ValidationMessage For="() => Input.Title" />
            </div>
            <div class="form-floating mb-3">
                <InputTextArea @bind-Value="@Input.Bio" class="form-control h-25" />
                <label>Bio</label>
                <ValidationMessage For="() => Input.Bio" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Publish</button>
        </EditForm>
    </div>
</div>
