@page "/"
@using ProjectWebApp.Data
@inject ApplicationDbContext Context


<main>
        @foreach (var post in Context.Posts!)
        {
            <PostItem Post="@post"/>
            <hr/>
        }
</main>
