@page "/Posts"

<main class="mt-4">
    @foreach (var post in Context.Posts!)
    {
        <span>
            <NavLink class="btn-link" href=@($"/Posts/{post.ID}")>
                <PostItem Post="@post"/>
            </NavLink>
        </span>
        <hr/>
    }
</main>
