@page "/PostCreator"
@using ProjectWebApp.Client.Http.Services
@using ProjectWebApp.Client.Models


<h3>PostCreator</h3>


<EditForm Model="@Input" OnSubmit="@Create" FormName="PostCreate">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="Title" @bind="Input.Title"/>
    </div>
    <div>
        <label for="bio">Bio:</label>
        <textarea id="bio" name="Bio" @bind="Input.Bio"></textarea>
    </div>
    <button type="submit">Save</button>
</EditForm>



@code {
    [Inject] private PostHttpService PostHttpService { get; set; } = default!;
    private InputModel Input { get; set; } = new();

    private async Task Create()
    {
        var post = new Post
        {
            Title = Input.Title,
            Bio = Input.Bio
        };

        await PostHttpService.CreateAsync(post);
    }

    public class InputModel
    {
        public string Title { get; set; } = string.Empty;
        public string Bio { get; set; } = string.Empty;
    }

}