@inherits LayoutComponentBase

@using Radzen.Blazor
@using Radzen

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="">
                <NavLink href=""><RadzenButton Variant="Variant.Text" Text="Devs"></RadzenButton></NavLink>
            </div>
            <NavLink href="/Posts"><RadzenButton Variant="Variant.Text" Text="Posts"></RadzenButton></NavLink>
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink href="/Account/Login"><RadzenButton Variant="Variant.Text" Text="Login"></RadzenButton></NavLink>
                </NotAuthorized>
                <Authorized>
                    <NavLink href="/Posts/Create"><RadzenButton Variant="Variant.Text" Text="Create"></RadzenButton></NavLink>
                    <NavLink href="/Account/Manage"><RadzenButton Variant="Variant.Text" Text="Profile"></RadzenButton></NavLink>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <NavLink href="/Admin/Dashboard"><RadzenButton Variant="Variant.Text" Text="Dashboard"></RadzenButton></NavLink>
            </AuthorizeView>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
