@page "/PostCreator"
@using ProjectWebApp.Models
@using ProjectWebApp.Data
@using System.ComponentModel.DataAnnotations
@inject ApplicationDbContext Context

<PageTitle>Post creator</PageTitle>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="Create" FormName="create-post">
            <hr />
            <div class="form-floating mb-3">
                <InputText @bind-Value="@Input.Title" class="form-control" autocomplete="untitled" aria-required="true" placeholder="Example post title" />
                <label for="title">Title</label>
            </div>
            <div class="form-floating mb-3">
                <InputTextArea @bind-Value="@Input.Bio" class="form-control" aria-required="true" placeholder="in this case..." />
                <label for="bio">Bio</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Publish</button>
        </EditForm>
    </div>
</div>



@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();
    
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    public async Task Create()
    {
        Console.WriteLine("InputModel:" + Input.Title, Input.Bio);
        var post = new Post
        {
            Title = Input.Title,
            Bio = Input.Bio
        };

        Context.Add(post);
        await Context.SaveChangesAsync();
        StateHasChanged();
    }

    public sealed class InputModel
    {
        [Display(Name = "Title")]
        public string Title { get; set; } = string.Empty;
        
        [Display(Name = "Bio")]
        public string Bio { get; set; } = string.Empty;
    }

}