@page "/Account/Manage/PersonalData"

@using Radzen.Blazor
@using Radzen

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<h3>Personal Data</h3>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <div class="btn-group">
            <form action="Account/Manage/DownloadPersonalData" method="post">
                <AntiforgeryToken />
                <RadzenButton ButtonType="ButtonType.Submit" 
                                          Text="Download" 
                                          Shade="Shade.Lighter"
                                          title="Download" 
                                          class="w-100 btn btn-lg btn-primary" />
            </form>
            <p>
                <NavLink href="Account/Manage/DeletePersonalData">
                    <RadzenButton ButtonType="ButtonType.Submit" 
                                  Text="Delete" 
                                  Shade="Shade.Lighter"
                                  ButtonStyle="ButtonStyle.Danger"
                                  title="Delete" 
                                  class="w-100 btn btn-lg btn-primary" />
                </NavLink>
            </p>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
