@page "/"

<header class="d-flex align-items-center justify-content-center">
    <h5>Social media platform for IT engineering specialists</h5>
</header>

<div class="container row">
    <div class="card border-shadow-hover col-1">
        <h5 class="card-title d-flex justify-content-center m-2">Share your skills</h5>
        <div class="card-body"><p class="card-text">
            With this product you can share your skills, knowledge and discoveries by publishing posts and scientific article.
        </p></div>
        <div class="card-footer">See <NavLink href="/Posts">posts</NavLink></div>
    </div>
    <div class="card border-shadow-hover col-1">
        <h5 class="card-title d-flex justify-content-center m-2">Find challenges</h5>
        <div class="card-body"><p class="card-text">
           Have a good idea, but don`t have time for coding? Now you can ask someone to do it without you.
       </p></div>
        <div class="card-footer">Create your first <NavLink href="/Posts/Create">post</NavLink></div>
    </div>
    <div class="card border-shadow-hover col-1">
        <h5 class="card-title d-flex justify-content-center m-2">Evaluates and reacts</h5>
        <div class="card-body">asfas</div>
        <div class="card-footer">Log in or create a new <NavLink href="/Account/Login">account</NavLink></div>
    </div>
</div>
