@page "/msg"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Messages</PageTitle>

<h1>Messages</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
