@page "/Admin/Dashboard"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Identity
@using ProjectWebApp.Data
@using Microsoft.AspNetCore.Authorization

@inject UserManager<ApplicationUser> UserManager

<h3>Admin Dashboard</h3>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>EmailConfirmed</th>
        <th>Options</th>
        <th></th>
    </tr>
    @foreach (var user in GetUsers())
    {
        <DashBoardUserItem User="user"/>        
    }
</table>

@code {
    protected override void OnInitialized()
    {
        GetUsers();
    }

    private List<ApplicationUser> GetUsers()
    {
        var users = new List<ApplicationUser>();
        
        foreach (var user in UserManager.Users)
        {
            users.Add(user);
        }

        return users;
    }
}