@page "/Admin/Dashboard"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Identity
@using ProjectWebApp.Data
@using Microsoft.AspNetCore.Authorization
@using Radzen.Blazor

@inject UserManager<ApplicationUser> UserManager

<RadzenHeading Text="Admin Dashboard"></RadzenHeading>

<div class="rz-p-sm-12 rz-text-align-center">
    <RadzenTextBox Placeholder="Search..." class="w-50"></RadzenTextBox>
</div>

<table class="table table-striped">
    <tr>
        <th><RadzenText Text="ID"></RadzenText></th>
        <th><RadzenText Text="Email"></RadzenText></th>
        <th><RadzenText Text="Email Confirmed"></RadzenText></th>
        <th><RadzenText Text="Options"></RadzenText></th>
        <th></th>
    </tr>
    @foreach (var user in GetUsers())
    {
        <DashBoardUserItem User="user"/>        
    }
</table>

@code {
    protected override void OnInitialized()
    {
        GetUsers();
    }

    private List<ApplicationUser> GetUsers()
    {
        var users = new List<ApplicationUser>();
        
        foreach (var user in UserManager.Users)
        {
            users.Add(user);
        }

        return users;
    }
}