@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Identity
@using ProjectWebApp.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.IdentityModel.Tokens
@using ProjectWebApp.Components.Account
@using ProjectWebApp.Models
@using Radzen.Blazor
@using Radzen

<tr >
    <td><RadzenText Text="@User.Id"></RadzenText></td>
    <td><RadzenText Text="@User.Email"></RadzenText></td>
    <td><RadzenText Text="@User.EmailConfirmed.ToString()"></RadzenText></td>
    <td>
        <EditForm Model="User" OnValidSubmit="DeleteUserBlog" FormName=@($"delete-user-{User.Id}-blog")>
            <RadzenButton ButtonType="ButtonType.Submit"
                          Text="Delete blog"
                          ButtonStyle="ButtonStyle.Warning" 
                          Variant="Variant.Text" />
        </EditForm>
    </td>
    <td>
        <EditForm Model="User" OnValidSubmit="DeleteUserProfile" FormName=@($"delete-user-{User.Id}-profile")>
            <RadzenButton Variant="Variant.Text" 
                          ButtonStyle="ButtonStyle.Danger" 
                          ButtonType="ButtonType.Submit" 
                          disabled="@Disabled" Text="Delete profile" />
        </EditForm>
    </td>
</tr>
